/* Flexbox Part 1 */

#flex-section1 ul {
	display: flex;                
  	justify-content: space-evenly; 
  	padding: 0;                  
  	margin: 0;                    
  	list-style-type: none; 
}
/* end Flexbox Part 1 */

/* Flexbox Part 2 */

#flex-section2 ul {
	list-style-type: none;
	display: flex;
	padding: 0;                  
  	margin: 0; 
}

#flex-section2 li {
	flex: 30px;
}

#flex-section2 .item1 {
	order : 1;
	
}

#flex-section2 .item2 {
	order : 3;
	
}

#flex-section2 .item3 {
	order : 2;
	
}

/* end Flexbox Part 2 */


/* Flexbox Part 3 */

#flex-section3 .box {             
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#flex-section3 .tags ul {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px;
}

/* end Flexbox Part 3 */


/* Grid Part 1 */

#grid-section1 .grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 100px;
	gap: 20px;
}

/* end Grid Part 1 */


/* Grid Part 2 */

#grid-section2 .gridboxblue {	
	display: grid;
	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end. */
	grid-area: 1 / 2 / span 3 / span 3;
	z-index: 2;

}

#grid-section2 .gridboxred {
	display: grid;
	grid-area: 2 / 1 / span 1 / span 2;
	z-index: 1;
}

/* end Grid Part 2 */


/* Grid Part 3 */

#grid-section3 .grid {
	display: grid;
	gap: 10px;
	grid-template-columns: 450px;
	grid-template-rows: 100px 300px 100px;
}

#grid-section3 .box1 {
	order:1;
	grid-column:1/3;
}

#grid-section3 .box2 {
	order:3;
	
}

#grid-section3 .box3 {
	order: 2;
}

#grid-section3 .box4 {
	order: 4;
	grid-column: 1/3;
}

/* end Grid Part 3 */


/* Transition Part */

#transition-section .box a {
	display: inline-block;
	background-color: #ccc;
	color: #000;
	padding: 20px;
	text-decoration: none;
	transition-duration: 3s;
}

#transition-section .box a:hover {
	background-color: #cc0000;
	color: #fff;
	text-decoration: none;
	transition-duration: 0.5s;
}

/* end Transition Part */